body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header{
    font-size: 24px;
    display: flex;
    justify-content: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 600px;
    margin-top: -400px; */

    height: 500px;
}

.heather-image{
    display: flex;
    justify-content: right;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: left;

}

.select-action{
    display: flex;
    justify-content: left;
    font-size: 24px;
}

.block-title{
    font-size: 24px;
    text-decoration: none;
    color: black;
    height: 50px;

}

.block-title:hover{
    color:white;
    background-color: rgb(0, 187, 250);
}

a{ display: flex;
    justify-content: left;

}

sub-buttons{
    display: flex;
    justify-content: center;
}